<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Search Application </title>
  <meta name="description" content="Search Application">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
h1 {
  font-size: 2.5em;
  color: black;
  font-family: "Times New Roman", Times, serif;

}


label{
  font-size: 1.5em;
  color: green;
  font-family: "Times New Roman", Times, serif;
}
footer {
	position:fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: black;
  	padding: 10px;
  	text-align: center;
  	color: white;
}


</style>
</head>

<body>
 <div class="jumbotron text-center" style="background-color:white;margin-bottom:0; border-bottom: 5px solid black;padding:15px">
  <h1>Search Application</h1>
</div>

<div style="height: 400px; width: 90%; margin:auto; background-color: white;">
 <div class="h-100 " style="background-color: white;">
 <br><br><br><br>

  <center>
<form method="POST" action="#">
  <label>Search</label>
  <input  name="search" id="id_search" style="height: 30px; width: 60%; margin:auto;">
  <input type="submit" value="submit">
</form>

  </center>
 </div>
</div>

<footer>
  <p>@2022</p>
</footer>
</body>

</html>